body {
  font-family: "DM Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; }

.navbar {
  background-color: white; }

.navbar-toggler:focus {
  box-shadow: none; }

.navbar-nav .nav-link.active {
  font-weight: bold; }

.hero {
  height: 720px;
  display: flex;
  align-items: center;
  position: relative; }
  .hero-title {
    font-size: 4rem; }
  .hero-subtitle {
    font-size: 2rem; }
  .hero-content {
    color: gray; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }

.icon-hero {
  font-size: 2rem;
  position: absolute;
  bottom: 1rem;
  animation: bounce 2s infinite; }

.header-subtitle {
  color: gray; }

.card.card-portfolio {
  margin-bottom: 2rem;
  transition: .2s ease-in-out; }
  .card.card-portfolio:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    transform: scale(1.05); }
  .card.card-portfolio .card-text {
    color: gray; }

.footer {
  width: 100%; }
  .footer.footer-absolute {
    position: absolute;
    bottom: 0; }

.profile {
  text-align: center; }
  .profile-img {
    width: 200px;
    height: 200px;
    display: block;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 50%; }
  .profile-info {
    color: gray; }

.contact-form .form-label {
  font-size: 0.85rem;
  font-weight: bold; }

.card.card-experience {
  transition: .2s ease-in-out; }
  .card.card-experience:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175); }
  .card.card-experience .card-experience-title {
    font-size: 1.65rem;
    font-weight: medium; }
  .card.card-experience .card-experience-date {
    color: gray; }
  .card.card-experience .card-experience-description {
    color: rgba(128, 128, 128, 0.8); }

.badge-custom {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.85rem;
  color: black;
  background-color: #adadad;
  display: inline-block;
  margin-bottom: 0.25rem; }

.badge-custom-orange {
  background-color: #fad080; }

.badge-custom-green {
  background-color: #60db7c; }

.badge-custom-red {
  background-color: #f88695; }

.badge-custom-blue {
  background-color: #71b8f3ee; }
