.navbar {
  background-color: white;
}

.navbar-toggler {
  &:focus {
    box-shadow: none;
  }
}

.navbar-logo {
  width: 32px;
}

.navbar-nav {
  .nav-link {
    &.active {
      font-weight: bold;
    }
  }
}
